@use "../0-base/colors" as color;
@use "../0-base/queries" as query;

.header {
    border: 1px solid color.$color-board;
    display: flex;
    padding: 0 2rem;
    align-items: center;
    border-left: none;
    justify-content: space-between;
    &__actions {
        display: flex;
    }
}

.vert-ellipsis {
    align-self: center;
    margin-left: 1.5rem;
}
