@use "../0-base/queries" as query;

.sidebar {
    color: inherit;
    border: 1px solid var(--color-line);
    display: flex;
    flex-direction: column;
    @media (max-width: query.$breakpoint-mobile) {
        display: none;
    }

    &__heading {
        color: inherit;
        font-size: 2rem;
    }
}

.logo {
    height: 20px;
    &-container {
        display: flex;
        padding: 2rem 2rem;
        align-items: center;
    }
}

.list {
    list-style: none;
    &__item {
        cursor: pointer;
        margin: 0.75rem 0;
        height: 3em;
        display: flex;
        position: relative;
        align-items: center;
        white-space: nowrap;
        padding-left: 1.5rem;
        &:first-child {
            margin-top: 2rem;
        }
        &::before {
            top: 0;
            left: 0;
            width: 3px;
            height: 100%;
            content: "";
            position: absolute;
            transform: scaleY(0);
            transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
            background: var(--color-primary);
            margin-right: 1rem;
        }
        &:hover::before {
            width: 90%;
            transform: scaleY(1);
            border-radius: 0 25px 25px 0;
        }

        // <!---  changes list items text color to white on hover --->
        &:hover {
            color: var(--color-white);
            transition: 0.2s;
            transition-delay: 0.3s;
        }
        // <!---  changes list board icon to white on hover --->
        &:hover .icon-board {
            fill: var(--color-white);
            transition: 0.2s;
            transition-delay: 0.3s;
        }

        // <!---  applies to element with active board class being viewed --->
        &--active {
            color: var(--color-white);
            &::before {
                width: 90%;
                transform: scaleY(1);
                border-radius: 0 25px 25px 0;
            }
        }
        &--active > .icon-board {
            filter: brightness(2);
        }
    }

    &__create {
        cursor: pointer;
        margin: 0.75rem 0;
        height: 3em;
        display: flex;
        position: relative;
        align-items: center;
        white-space: nowrap;
        padding-left: 1.5rem;
    }

    &-link:link,
    &-link:visited {
        color: inherit;
        z-index: 10;
        position: relative;
        text-decoration: none;
    }

    // <!---  last list item styles --->
    & li:last-child span {
        color: var(--color-primary);
        &:hover {
            color: var(--color-secondary);
            transition: 0.3s;
        }
    }
    & li:last-child .icon-board--create {
        fill: var(--color-primary);
    }
    & li:last-child:hover .icon-board--create {
        fill: var(--color-secondary);
        transition: 0.3s;
    }
}

.board {
    &-container {
        padding: 2rem 0;
    }
    &-count {
        word-spacing: 1px;
        padding-left: 1.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.toggle {
    padding: 2rem 1rem;
    margin-top: auto; // pushes container that holds the toggle btn to end of sidebar

    @media (max-width: query.$breakpoint-desktop) {
        padding: 2rem 0.5rem;
    }
    &-container {
        height: 5vh;
        border-radius: 9px;
        margin-bottom: 2rem;

        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    &-hide {
        display: flex;
        & > img {
            margin: 0 1.1rem 0 0.5rem;
        }
    }
}
