// Button
$color-primary: #635fc7;
$color-secondary: #a8a4ff;
$color-primary-disabled: #625fc764;

// Text
$color-main: #000112;
$color-lines: #3e3f4e;
$color-delete: #ea5555;
$color-deletehover: #ff9898;

// Light Theme
$color-white: #fff;
$color-board: #e4ebfa;
$color-lightgrey: #f4f7fd;
$color-mediumgrey: #828fa3;

// Dark Theme
$color-darkbg: #20212c;
$color-darkgrey: #2b2c37;
