// <---- RESPONSIVE BREAKPOINTS ---->
$breakpoint-large-desktop: 82.1875em; // 1315px
$breakpoint-desktop: 75em; // 1200px
$breakpoint-large-tablet: 62.5em; // 1000px
$breakpoint-tablet: 50em; // 800px
$breakpoint-mobile: 37.5em; // 600px
