*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--color-text);
  font-size: 75%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --font-primary: "Plus Jakarta Sans", sans-serif;
  --color-white: #fff;
  --color-primary: #635fc7;
  --color-secondary: #a8a4ff;
  --color-primary-disabled: #625fc764;
  --color-text: #828fa3;
  --color-delete: #ea5555;
  --color-deletehover: #ff9898;
  --color-main: #f4f7fd;
  --color-line: #e4ebfa;
  --color-light: #fff;
  --color-dark: #000112;
}
html[data-theme=dark] {
  --color-main: #20212c;
  --color-line: #3e3f4e;
  --color-light: #2b2c37;
  --color-dark: #fff;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
}

body {
  height: 100vh;
  font-family: var(--font-primary);
}

.sidebar {
  background: var(--color-light);
}

.main {
  background: var(--color-main);
}

.header {
  color: var(--color-dark);
  background: var(--color-light);
}

.toggle-container {
  background: var(--color-main);
}

.logo-container {
  color: var(--color-dark);
}

.create-board {
  background: var(--color-light);
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: minmax(225px, 15.625em) repeat(4, 1fr);
  grid-template-areas: "sidebar header header header header" "sidebar main main main main ";
}
@media (max-width: 37.5em) {
  .container {
    grid-template-rows: 7vh 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header header" "main main main main main ";
  }
}

.container-hide-sidebar {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: minmax(200px, 15.625em) repeat(4, 1fr);
  grid-template-areas: "sidebar header header header header" "main main main main main ";
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.main {
  display: grid;
  grid-template-rows: 1fr;
}
.empty {
  color: inherit;
  place-self: center;
}
.empty__text {
  color: inherit;
  word-spacing: 1px;
}

.view {
  margin-top: auto;
  margin-bottom: 2rem;
}

.header {
  border: 1px solid var(--color-line);
  display: flex;
  padding: 0 2rem;
  align-items: center;
  border-left: none;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .header {
    left: 0;
    right: 0;
    height: 7vh;
    border: none;
    position: fixed;
  }
}
.header__logo {
  display: none;
}
@media (max-width: 37.5em) {
  .header__logo {
    height: 20px;
    display: inline;
    align-self: center;
  }
}
.header__logo-container {
  display: block;
}
@media (max-width: 37.5em) {
  .header__logo-container {
    display: inline-flex;
  }
}
.header__actions {
  display: flex;
}

.vert-ellipsis {
  align-self: center;
  margin-left: 1.5rem;
}

.sidebar {
  color: inherit;
  border: 1px solid var(--color-line);
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .sidebar {
    display: none;
  }
}
.sidebar__heading {
  color: inherit;
  font-size: 2rem;
}

.logo {
  height: 20px;
}
.logo-container {
  display: flex;
  padding: 2rem 2rem;
  align-items: center;
}

.list {
  list-style: none;
}
.list__item {
  margin: 0.75rem 0;
  height: 3em;
  display: flex;
  position: relative;
  align-items: center;
  white-space: nowrap;
  padding-left: 1.5rem;
}
.list__item:first-child {
  margin-top: 2rem;
}
.list__item:not(:last-child)::before {
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  content: "";
  position: absolute;
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
  background: var(--color-primary);
  margin-right: 1rem;
}
.list__item:hover::before, .list__item--active:not(:last-child)::before {
  width: 90%;
  transform: scaleY(1);
  border-radius: 0 25px 25px 0;
}
.list__item:hover:not(:last-child) {
  color: var(--color-white);
  transition: 0.2s;
  transition-delay: 0.3s;
}
.list__item:hover:not(:last-child) .icon-board {
  filter: brightness(2);
  transition: 0.2s;
  transition-delay: 0.3s;
}
.list__item--active {
  color: var(--color-white);
}
.list__item--active > .icon-board {
  filter: brightness(2);
}
.list-link:link, .list-link:visited {
  color: inherit;
  z-index: 10;
  position: relative;
  text-decoration: none;
}

.board-container {
  padding: 2rem 0;
}
.board-count {
  word-spacing: 1px;
  padding-left: 1.5rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.toggle {
  padding: 2rem 1rem;
  margin-top: auto;
}
@media (max-width: 75em) {
  .toggle {
    padding: 2rem 0.5rem;
  }
}
.toggle-container {
  height: 5vh;
  border-radius: 9px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.toggle-hide {
  display: flex;
}
.toggle-hide > img {
  margin: 0 1.1rem 0 0.5rem;
}

.btn {
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.9rem 1.5rem;
  transition: all 0.3s;
  background: var(--color-primary);
  border-radius: 100px;
}
.btn:hover {
  background: var(--color-secondary);
}
.btn-column {
  margin: 1rem 7rem;
}
.btn-toggle {
  cursor: pointer;
  margin: 0 1rem 0 0.3rem;
  border: none;
  background: none;
}
.btn-toggle-view {
  display: none;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.btn-laptop {
  display: inline;
}
.btn-laptop:disabled {
  background: var(--color-primary-disabled);
}
@media (max-width: 37.5em) {
  .btn-laptop {
    display: none;
  }
}
.btn-mobile {
  display: none;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 37.5em) {
  .btn-mobile {
    display: inline;
  }
  .btn-mobile:disabled {
    background: var(--color-primary-disabled);
  }
}

.create {
  color: var(--color-primary);
}
.create-board {
  border: none;
  cursor: pointer;
}

.hide:hover {
  fill: var(--color-primary);
}

.icon-plus {
  width: 20px;
}

.icon-down {
  display: none;
  height: 10px;
  align-self: center;
  margin-left: 0.5rem;
}
@media (max-width: 37.5em) {
  .icon-down {
    display: inline;
  }
}

.icon-board {
  z-index: 10;
  margin-right: 1rem;
}
.icon-board--create {
  margin-right: 1rem;
}

input[type=checkbox] {
  width: 0;
  height: 0;
  display: none;
}

label {
  float: right;
  width: 48px;
  height: 23px;
  cursor: pointer;
  position: relative;
  background: var(--color-primary);
  text-indent: -9999px;
  border-radius: 100px;
}

label:after {
  top: 3.5px;
  left: 3px;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  transition: 0.3s;
  background: #fff;
  border-radius: 90px;
}

input:checked + label {
  background: var(--color-primary);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/*# sourceMappingURL=main.css.map */
