*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 75%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-family: "Plus Jakarta Sans", sans-serif;
}

.container {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: minmax(225px, 15.625em) repeat(4, 1fr);
  grid-template-areas: "sidebar header header header header" "sidebar main main main main ";
}
@media (max-width: 37.5em) {
  .container {
    grid-template-rows: 7vh 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "header header header header header" "main main main main main ";
  }
}

.container-hide-sidebar {
  height: 100%;
  display: grid;
  grid-template-rows: 10vh 1fr;
  grid-template-columns: minmax(200px, 15.625em) repeat(4, 1fr);
  grid-template-areas: "sidebar header header header header" "main main main main main ";
}

.sidebar {
  grid-area: sidebar;
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.main {
  display: grid;
  background: #f4f7fd;
  grid-template-rows: 1fr;
}
.empty {
  color: #828fa3;
  place-self: center;
}
.empty__text {
  color: inherit;
  word-spacing: 1px;
}

.view {
  margin-top: auto;
  margin-bottom: 2rem;
}

.header {
  border: 1px solid #e4ebfa;
  display: flex;
  padding: 0 2rem;
  align-items: center;
  border-left: none;
  justify-content: space-between;
}
@media (max-width: 37.5em) {
  .header {
    left: 0;
    right: 0;
    height: 7vh;
    border: none;
    position: fixed;
  }
}
.header__logo {
  display: none;
}
@media (max-width: 37.5em) {
  .header__logo {
    height: 20px;
    display: inline;
    align-self: center;
  }
}
.header__logo-container {
  display: block;
}
@media (max-width: 37.5em) {
  .header__logo-container {
    display: inline-flex;
  }
}
.header__actions {
  display: flex;
}

.vert-ellipsis {
  align-self: center;
  margin-left: 1.5rem;
}

.sidebar {
  color: #828fa3;
  border: 1px solid #e4ebfa;
  display: flex;
  flex-direction: column;
}
@media (max-width: 37.5em) {
  .sidebar {
    display: none;
  }
}
.sidebar__heading {
  color: #000112;
  font-size: 2rem;
}

.logo {
  height: 20px;
}
.logo-container {
  display: flex;
  padding: 2rem 2rem;
  align-items: center;
}

.list {
  list-style: none;
}
.list__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.list__item:not(:last-child) {
  margin: 2.5rem 0;
}

.board {
  width: 13px;
  margin-right: 1rem;
}
.board-container {
  padding: 2rem 2rem;
}
.board-count {
  word-spacing: 1px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.board-link:link, .board-link:active, .board-link:visited {
  color: inherit;
  text-decoration: none;
}

.toggle {
  padding: 2rem 1rem;
  margin-top: auto;
}
@media (max-width: 75em) {
  .toggle {
    padding: 2rem 0.5rem;
  }
}
.toggle-container {
  height: 5vh;
  background: #f4f7fd;
  border-radius: 9px;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.toggle-hide {
  display: flex;
}
.toggle-hide > img {
  margin: 0 1.1rem 0 0.5rem;
}

.btn {
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.9rem 1.5rem;
  transition: all 0.3s;
  background: #635fc7;
  border-radius: 100px;
}
.btn:hover {
  background: #a8a4ff;
}
.btn-column {
  margin: 1rem 7rem;
}
.btn-toggle {
  cursor: pointer;
  margin: 0 1rem 0 0.3rem;
  border: none;
  background: none;
}
.btn-toggle-view {
  display: none;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}
.btn-laptop {
  display: inline;
}
.btn-laptop:disabled {
  background: rgba(98, 95, 199, 0.3921568627);
}
@media (max-width: 37.5em) {
  .btn-laptop {
    display: none;
  }
}
.btn-mobile {
  display: none;
  padding: 0.5rem 1.5rem;
}
@media (max-width: 37.5em) {
  .btn-mobile {
    display: inline;
  }
  .btn-mobile:disabled {
    background: rgba(98, 95, 199, 0.3921568627);
  }
}

.create {
  color: #635fc7;
}
.create-board {
  border: none;
  cursor: pointer;
  background: #fff;
}

.hide:hover {
  fill: #635fc7;
}

.icon-plus {
  width: 20px;
}

.icon-down {
  display: none;
  height: 10px;
  align-self: center;
  margin-left: 0.5rem;
}
@media (max-width: 37.5em) {
  .icon-down {
    display: inline;
  }
}

input[type=checkbox] {
  width: 0;
  height: 0;
  display: none;
}

label {
  float: right;
  width: 48px;
  height: 23px;
  cursor: pointer;
  position: relative;
  background: #635fc7;
  text-indent: -9999px;
  border-radius: 100px;
}

label:after {
  top: 3.5px;
  left: 3px;
  width: 16px;
  height: 16px;
  content: "";
  position: absolute;
  transition: 0.3s;
  background: #fff;
  border-radius: 90px;
}

input:checked + label {
  background: #635fc7;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

/*# sourceMappingURL=main.css.map */
