@use "../0-base/colors" as color;
@use "../0-base/queries" as query;

.btn {
    color: color.$color-white; // later, if a board doesn't contain columns disable button and change color to disabled color
    cursor: pointer;
    border: none;
    padding: 0.9rem 1.5rem;
    transition: all 0.3s;
    background: color.$color-primary;
    border-radius: 100px;
    &:hover {
        background: color.$color-secondary;
    }
    &-column {
        margin: 1rem 7rem;
    }
    &-toggle {
        cursor: pointer;
        margin: 0 1rem 0 0.3rem;
        border: none;
        background: none;
        &-view {
            // < ----- When Board List Is Collapsed Switch Display To Block ----- >
            display: none;
            border-top-left-radius: 0%;
            border-bottom-left-radius: 0%;
        }
    }

    &-laptop {
        display: inline;
        &:disabled {
            background: color.$color-primary-disabled; // default -- once column is added, 'disabled' attribute will be removed
        }
        @media (max-width: query.$breakpoint-mobile) {
            display: none;
        }
    }

    &-mobile {
        display: none;
        padding: 0.5rem 1.5rem;
        @media (max-width: query.$breakpoint-mobile) {
            display: inline;
            &:disabled {
                background: color.$color-primary-disabled; // default -- once column is added, 'disabled' attribute will be removed
            }
        }
    }
}

.create {
    color: color.$color-primary;
    &-board {
        border: none;
        cursor: pointer;
        background: #fff;
    }
}

.hide:hover {
    fill: color.$color-primary;
}

// ICONS
.icon-plus {
    width: 20px;
}

.icon-down {
    display: none;
    height: 10px;
    align-self: center;
    margin-left: 0.5rem;
    @media (max-width: query.$breakpoint-mobile) {
        display: inline;
    }
}
